.footer{
    display: grid;
   min-width: 100%;
    grid-template-columns: repeat(5,1fr);
    padding: 60px;
    background-color:white;
}
body{
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
.footer h1{
    font-weight: 700;
}
.footer p{
    font-size: .875rem;
    margin-top: 10px;
    font-weight:600;
}
.main{
    display: flex;
    padding: 35px;
    background-color:#f6f7fb;
    justify-content: space-between;
}
.main img {
    width: 150px;
    height: 70px;
}

@media screen  and (min-width:360px) and (max-width:500px){

    .footer {
      
        display: grid;
       
      
        padding-right: 100px;
        grid-template-columns: repeat(2,170px);
        grid-template-rows: repeat(3,240px);
    justify-content: center;
    }

    .footer div{
        width: 100%;
        margin-left: 45px;
    }
    .footer p{
        font-size: 12px;
    }
}

@media  screen and (min-width:501px) and (max-width:700px) {
    .footer {
      
        display: grid;
       
     
        padding-right: 100px;
        grid-template-columns: repeat(3,130px);
        grid-template-rows: repeat(2,240px);
        gap: 20px;
    justify-content: center;
    }
    .footer div{
        margin: auto;
        width: 100%;
        
    }
}
