.first h1{
    
    margin-top: -400px;
    font-size: 40px;
    font-weight:bold;
    width: 500px;
    margin-left: 170px;
    color: white;
}
.firstimg{
    display: block;
}
.mobile{
    display: none;
}
.first p{
    color: white;
    margin-left: 170px;
    font-size: 20px;
    margin-top: 20px;
    width: 530px;
}
.btn{
    margin-top: 20px;
    margin-left: 170px;
    color: white;
   
}
#title h1{
    margin-top: 200px;
    margin-left: 120px;
    font-size: 35px;
    font-weight: bold;
    width: 1000px;
  
    text-align: center;
}
.third{
    display: flex;
    gap: 30px;
    margin: auto;
   margin-top: 70px;
   width: 74%;
}
.third div h1{
    width: 400px;
    font-size: 30px;
font-weight: bold;
}

.third p{
    font-size: 20px;
    margin-top: 30px;
    width: 400px;
    font-weight: 400;
}
.btn2{
    margin-top: 20px;
    width: 150px;
   
}
.fourth{
    display: flex;
    gap: 100px;
    margin: auto;
   margin-top: 120px;
   width: 74%;
}
.fourth  h1{

    width: 400px;
    font-size: 35px;
font-weight: bold;
}
.android{
   margin-left: -23px;
   margin-top: 20px; 
}

.fourth p{
    font-size: 20px;
    margin-top: 30px;
    width: 400px;
    font-weight: 400;
}
.secondsection{
    margin-top: 40px;
}
.five{
    
    display: flex;
    gap: 120px;
    margin: auto;
    width: 73%;
}
.five div {
    margin-top: 150px;
}
.five div h1{
    width: 400px;
    font-size: 30px;
    font-weight: bold;
}
.five div p{
    margin-top: 20px;
    font-size: 20px;
}

.inner{
    display :flex ;
    gap: 40px;
    column-gap: -40px;
}
.inner div {
    margin-top: -100px;
}
.inner div h1 {
    font-size: 22px;

}

.inner div p{
    width: 400px;
    font-weight: 400;
    margin-top: -5px;
    font-size: 1rem;
}
#img1{
    margin-top: -120px;
}

.inner1{
    display :flex ;
    gap: 40px;
    column-gap: -40px;
}
.inner1 div {
    margin-top: -130px;
}
.inner1 div h1 {
    font-size: 22px;

}

.inner1 div p{
    width: 400px;
    font-weight: 400;
    margin-top: -5px;
    font-size: 1rem;
}
.inner2{
    display :flex ;
    gap: 40px;
    column-gap: -40px;
}
.inner2 div {
    margin-top: -140px;
}
.inner2 div h1 {
    font-size: 22px;

}

.inner2 div p{
    width: 400px;
    font-weight: 400;
    margin-top: -5px;
    font-size: 1rem;
}
#bigimg{
    height: 650px;
    width: 1200px;
}
#img2{
    margin-top: -170px;
}
#img3{
    margin-top: -190px;
}

.head h1{
    text-align:  center;
    width: 600px;
    margin: auto;
    font-size: 35px;
    margin-top: 100px;

    font-weight: bold;
}
.six{
    
    display: flex;
    margin: auto;
    gap: 38px;
    margin-top: 60px;
    width: 74%;
}
.six div{
  border-radius: 3px;
  padding-bottom: 20px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.six div h1{
    width: 300px;
    padding: 20px;
    font-weight: bold;
}
.six div p{
   padding-left: 20px;
   font-weight: 400;
   font-size: 14px;
   
}
.seven{
    display: flex;
    margin-top: 60px;
    gap: 100px;
    background-color: #dbdfff;
    padding: 70px 150px 70px 150px;
}
.seven div h2{
    font-size: 20px;
    font-weight: bold;
}
.seven div h1{
    width: 450px;
    font-weight: bolder;
    font-size: 33px;
}
.seven div p{
    font-size:1.25rem;
    line-height: normal;
    letter-spacing: 1.4;
    width: 330px;
    margin-top: 30px;
    font-weight: 400;
    font-family: hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
}
.btn3{
    margin-top: 50px;
   padding: 30px 20px 30px 20px;
}

.seven div h6{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.seven div h6:hover{
    color: #ffcd1f;
}
.seven div hr{
    height: 5px;
    border-radius: 20px;
    background-color:rgb(61, 156, 124);
    margin-top: 20px;
    width: 260px;
}
.seven div div:hover{
    color: #ffcd1f;
}
.seven div hr:hover{
    background-color: #ffcd1f;
}

#youtube{
  
    margin: auto;
  
    

}
.youhead{
    width: 450px;
    margin-top: 100px;
    margin: auto;
}
#youtube1{
    margin-top: 35px;
    height: 100%;
}
.youhead{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-top: 70px;
   
}

/* Responsive */

@media screen and (min-width:360px) and (max-width:700px) {
    #title h1{
       margin: auto;
         margin-top: 200px;
        /* margin-left: 80px; */
        font-size: 25px;
        font-weight: bold;
        width: 350px;
      
        text-align: center;
    }
    .third{
        display: block;
       
        
       margin-top: 70px;
       width: 74%;
    }
    .third div h1{
        width: 300px;
       
   font-size: 23px
    }
    
    .third p{
        font-size: 16px;
        margin-top: 10px;
        width: 300px;
     
    }
    .third div img {
        margin-top: 20px;
    }
    .youhead{
        
        font-size: 24px;
        margin: auto;
       
        margin-top: 70px;
        width: 300px;
       
    }
    .fourth{
        display: block;
       
    }
    .fourth div h1{
   
    width: 300px;
        font-size: 25px;
    
    }
    .fourth p{
        font-size: 16px;
        
        width: 300px;
       
    }
    .five{
    
        display: block;
        gap: 120px;
        margin: auto;
        width: 73%;
    }
    .five div h1{
        width: 300px;
        font-size: 22px;
        font-weight: bold;
    }
    .five div p{
        margin-top: 20px;
        font-size: 14px;
    }
    .inner div{
        width: 200px;

        
    }
    .inner div h1{
        font-size: 15px;
    }
    .inner div p{
        
width: 200px;
        font-size: 10px;
    }
    #img1{
        width: 20px;
    }
    .inner1 div{
        width: 200px;
        
    }
    .inner1 div h1{
        
        font-size: 15px;
    }
    .inner1 div p{
        
width: 200px;
        font-size: 10px;
    }
    #img2{
        width: 25px;
    }
    .inner2 div{
        width: 200px;
        
    }
    .inner2 div h1{
        font-size: 15px;
    }
    .inner2 div p{
        
width: 200px;
        font-size: 10px;
    }
    #img3{
        width: 25px;
    }
    .head h1{
        font-size: 25px;
        width: 300px;
        margin: auto;
        margin-top: 50px;
    }
    .six{
    
        display: block;
        margin: auto;
       column-gap:  38px;
        margin-top: 60px;
        width: 74%;
    }

    .six div h1{
        width: 400px;
       
       margin: auto;
        padding-right: 130px;
        font-weight: bold;
    }
    .six div{
        margin: auto;
        border-radius: 3px;
        padding-bottom: 20px;
        width: 270px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      }
    .seven{
        display: block;
        margin-top: 60px;
        gap: 100px;
        background-color: #dbdfff;
        padding: 70px 150px 70px 150px;
    }
    .seven div h2{
        
        width: 300px;
        margin-left: -90px;
        font-size: 20px;
       
    }
    .seven div h1{
   width: 400px;
   margin-left: -90px;
        font-size: 22px;
    }
    .seven div p{
        font-size:16px;
       
        width: 300px;
        margin-left: -90px;
        margin-top: 15px;
        
    }
    .btn3{
        margin-left: -90px; 
        margin-top: 20px;
       padding: 30px 20px 30px 20px;
    }
    
    .seven div h6{
        margin-top: 20px;
        font-size: 16px;
        margin-left: -90px;
        width: 300px;
        font-weight: 500;
    }
    
    .seven div hr{
       
        margin-left: -90px;
       
        margin-top: 10px;
       
    }
  .lastimg{
    width: 250px;
   margin-left: -90px;
   margin-top: 20px;
  }
  .first{
    display: block;
  }
  .firstimg {
    display: none;
  }
  .mobile{
    display: block;
    width: 700px;
    height: 700px;
  }
  .first h1{
    
  margin-top: -500px;
    font-size: 41px;
  color: black;
    font-weight:bold;
    width: 300px;
    margin-left: 50px;
    color: white;
}
.first p{
    color: white;
    margin-left: 45px;
    font-size: 15px;
    line-break: auto;
    width: 300px;
}
.btn{
    margin-left: 40px;
}
}
